/* main colors
source - https://coolors.co/f4f1de-e07a5f-3d405b-81b29a-f2cc8f
#E07A5F - Terra Cotta
#F4F1DE - Eggshell
#3d405b - Independence
#81b29a - Green Sheen 
#f2cc8f - Deep Champagne
*/


* {
    box-sizing: border-box;
}

h1 {
text-align: center;
background-color: #f4f1de;
border-bottom: 5px solid #3d405b;
padding: 50px;
}

body {
    background-color: #e07a5f;
}

.box {
    background-color: #f4f1de;
    border-bottom: 10px solid #3d405b;
    padding: 350px;
    box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.2);
    text-align: center;
}

.box h2 {
   margin: auto;
}

.buttons {
    padding: 20px;
    margin: 10px;
    background-color: #f2cc8f;
    border-bottom: 5px solid #3d405b;
    box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.2);
}

.metrics {
    background-color: #f2cc8f;
    border-bottom: 5px solid #3d405b;
    box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.2);
}

#water {
    float: left;
    margin-left: 0px 0px 0px 15px;
}

#play {
    margin: 15px;
}

#sleep {
    float: right;
    margin-right: 0px 0px 0px 15px;
}

#warnings {
    font-size: 50px;
    padding: 50px;
}
