/* main colors
source - https://coolors.co/f4f1de-e07a5f-3d405b-81b29a-f2cc8f
#E07A5F - Terra Cotta
#F4F1DE - Eggshell
#3d405b - Independence
#81b29a - Green Sheen 
#f2cc8f - Deep Champagne
*/
@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');

* {
    box-sizing: border-box;
}

h1 {
    font-family: 'Orbitron', sans-serif;
    color: #2a9d8f;
    text-align: center;
    background-color: rgba(355, 253, 191);
    border: 10px solid #81b29a;
    padding: 50px;
    box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.2);
    margin: 0px 150px 20px 150px;
    text-decoration: underline;
}

body {
    background-color: #F4F1DE;
}

.box {
    background-image: url("https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/2adbd521-1a22-4288-9ba1-013e56867570/d4q83ox-89ba711a-ce2d-4bd8-906e-3369615e2104.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzJhZGJkNTIxLTFhMjItNDI4OC05YmExLTAxM2U1Njg2NzU3MFwvZDRxODNveC04OWJhNzExYS1jZTJkLTRiZDgtOTA2ZS0zMzY5NjE1ZTIxMDQuanBnIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.JfaijPGBa8Z4IhZXNjX-1y0rMKF21MwVqsdUzCf8_kQ");
    margin: 0px 150px 150px 150px;
    padding: 50px;
    box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.2);
    text-align: center;
    border-radius: 20px;
    border: 5px solid #81b29a;
}

.box h2 {
   margin: auto;
}

h2, h3 {
    font-family: 'Orbitron', sans-serif;
    color: #81b29a;
	font-size: 20px;
	border: 5px solid #81b29a;
	border-radius: 10px;
	cursor: pointer;
	text-align: center;
	padding: 12px;
	background-color: rgba(300, 260, 180);
    box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.2);
}

/* .buttons {
    padding: 20px;
    margin: 10px;
    background-color: #f2cc8f;
    border-bottom: 5px solid #3d405b;
    box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.2);
} */


#water {
    font-family: 'Orbitron', sans-serif;
    float: left;
    margin-left: 0px 0px 0px 15px;
    color: #81b29a;
	font-size: 20px;
	border: 5px solid #81b29a;
	border-radius: 5px;
	cursor: pointer;
	text-align: center;
	padding: 12px;
	background-color: rgba(300, 260, 180);
    box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.2);
    color: salmon;
}

#play {
    font-family: 'Orbitron', sans-serif;
    margin: 15px;
    color: #81b29a;
	font-size: 20px;
	border: 5px solid #81b29a;
	border-radius: 5px;
	cursor: pointer;
	text-align: center;
	padding: 12px;
	background-color: rgba(300, 260, 180);
    box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.2);
    color: turquoise;
}

#sleep {
    font-family: 'Orbitron', sans-serif;
    float: right;
    margin-right: 0px 0px 0px 15px;
    color: #81b29a;
	font-size: 20px;
	border: 5px solid #81b29a;
	border-radius: 5px;
	cursor: pointer;
	text-align: center;
	padding: 12px;
	background-color: rgba(300, 260, 180);
    box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.2);
    color: blueviolet;
}

input {
    font-family: 'Orbitron', sans-serif;
    color: #81b29a;
	font-size: 15px;
	border: 5px solid #81b29a;
	border-radius: 5px;
	cursor: pointer;
	text-align: center;
	padding: 12px;
	background-color: rgba(300, 260, 180);
    box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.2);
}

p {
    font-family: 'Orbitron', sans-serif;
    color: #81b29a;
	font-size: 20px;
    border: 7px solid #81b29a;
	border-radius: 20px;
	cursor: pointer;
	text-align: center;
	padding: 12px;
	background-color: rgba(300, 260, 180);
    margin: 20px;
    box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.2);
}

.img {
    background-color: rgba(300, 260, 180);
    border: 7px solid #81b29a;
    border-radius: 20px;
    box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.2);
}

#output-name {
    font-family: 'Orbitron', sans-serif;
    font-size: 30px;
    color:#81b29a;
    margin: 20px;
    box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.2);
    background:#F4F1DE;
    border-radius: 5px;
}

#hunger {
    color: salmon;
}

#entertained {
    color: turquoise;
}

#rest {
    color: blueviolet;
}

section {
    font-family: 'Orbitron', sans-serif;
    font-size: 50px;
    color: aquamarine;
}
/* doesn't edit warning pop up, might need to fix later */